<?xml version="1.0" encoding="utf-8"?>
<!--
  HonyWing 综合日志配置
  @author: Mr.Rey Copyright © 2025
  @created: 2025-01-09 16:30:00
  @modified: 2025-01-09 16:30:00
  @version: 1.2.0
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Info"
  internalLogFile="${gdc:item=logDirectory}/system/internal-nlog-${shortdate}.log">

  <!-- 定义变量 -->
  <variable name="logDirectory" value="${gdc:item=logDirectory}" />
  <variable name="commonLayout" value="${longdate} [${uppercase:${level}}] [${threadid}] ${logger} - ${message} ${exception:format=tostring}" />

  <!-- 定义目标 -->
  <targets>
    <!-- 内存目标 - 用于UI显示 -->
    <target xsi:type="Memory" name="memoryTarget"
      layout="${commonLayout}" />

    <!-- 主应用程序日志 -->
    <target xsi:type="File" name="appTarget"
      fileName="${logDirectory}/app/honywing-app-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/app/archives/honywing-app-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="10485760"
      archiveNumbering="Rolling"
      maxArchiveFiles="30"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!-- 图片选择和处理日志 -->
    <target xsi:type="File" name="imageTarget"
      fileName="${logDirectory}/image/honywing-image-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/image/archives/honywing-image-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="5242880"
      archiveNumbering="Rolling"
      maxArchiveFiles="15"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!-- 错误日志 -->
    <target xsi:type="File" name="errorTarget"
      fileName="${logDirectory}/error/honywing-error-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/error/archives/honywing-error-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="5242880"
      archiveNumbering="Rolling"
      maxArchiveFiles="30"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!-- 性能日志 -->
    <target xsi:type="File" name="performanceTarget"
      fileName="${logDirectory}/performance/honywing-performance-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/performance/archives/honywing-performance-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="5242880"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!-- 系统日志 -->
    <target xsi:type="File" name="systemTarget"
      fileName="${logDirectory}/system/honywing-system-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/system/archives/honywing-system-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="5242880"
      archiveNumbering="Rolling"
      maxArchiveFiles="15"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!-- 调试日志 -->
    <target xsi:type="File" name="debugTarget"
      fileName="${logDirectory}/debug/honywing-debug-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/debug/archives/honywing-debug-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="10485760"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!-- 编译和构建日志 -->
    <target xsi:type="File" name="buildTarget"
      fileName="${logDirectory}/build/honywing-build-${shortdate}.log"
      layout="${commonLayout}"
      archiveFileName="${logDirectory}/build/archives/honywing-build-${shortdate}-{#}.log"
      archiveEvery="Day"
      archiveAboveSize="5242880"
      archiveNumbering="Rolling"
      maxArchiveFiles="10"
      concurrentWrites="true"
      keepFileOpen="false" />
  </targets>

  <!-- 定义规则 -->
  <rules>
    <!-- 图片相关日志 -->
    <logger name="*" minlevel="Trace" writeTo="memoryTarget" />
    <logger name="*" minlevel="Trace" writeTo="appTarget" />
    
    <!-- 图片选择和处理日志 -->
    <logger name="*" minlevel="Debug" writeTo="imageTarget">
      <filters>
        <when condition="contains('${message}','[图片选择]') or contains('${message}','[图片加载]') or contains('${message}','[图片处理]')" action="Log" />
        <when condition="true" action="Ignore" />
      </filters>
    </logger>
    
    <!-- 错误日志 -->
    <logger name="*" minlevel="Warn" writeTo="errorTarget" />
    
    <!-- 性能日志 -->
    <logger name="*" minlevel="Info" writeTo="performanceTarget">
      <filters>
        <when condition="contains('${message}','耗时') or contains('${message}','性能') or contains('${message}','[性能]')" action="Log" />
        <when condition="true" action="Ignore" />
      </filters>
    </logger>
    
    <!-- 系统日志 -->
    <logger name="*" minlevel="Info" writeTo="systemTarget">
      <filters>
        <when condition="contains('${logger}','System') or contains('${logger}','Microsoft') or contains('${message}','[系统]')" action="Log" />
        <when condition="true" action="Ignore" />
      </filters>
    </logger>
    
    <!-- 调试日志 -->
    <logger name="*" minlevel="Debug" writeTo="debugTarget" />
  </rules>
</nlog>
